*.iml
.gradle
.kotlin
/local.properties
.idea/
.DS_Store
/build
/.build-outputs
*.apk
*.aab
*.jks
*.keystore
*.keystore.base64
*.jks.base64
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
